body{
    background-image: url("/illustration-foret-hiver-enneigee-sereine-vecteur-plat_1332476-12746.avif");
    background-size:cover;

}
   

bouton{
    width: 35vw;
    height: 15vh;
    background-color: aqua;
}

bouton2{
    width: 25vw;
    height: 20vh;
    background-color: blue;
}

bouton3{
    width: 25vw;
    height: 15vh;
    background-color: blue;
}









